body {
    padding: 25px 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.profile {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: rgb(104, 128, 194);
}

p {
    color: rgba(74,74,74,0.7);
    font-size: 1.125rem;
    letter-spacing: 0.2px;
    line-height: 1.88;
}

/* Header */

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo h1 {
    font-weight: bold;
    font-size: 1.6em;
    font-family: "Norse";
    color: #cc9543;
    flex: 1;
    padding-left: 0.5em;
    text-transform: uppercase;
}

.center {
    align-items: center;
    justify-content: center;
}

header {
    margin: 0 7rem;
}

header a {
    color: rgba(74,74,74,0.7);
    font-weight: bold;
    letter-spacing: 0.2px;
    text-decoration: none;
}

header a:hover {
    text-decoration: none;
    color: black;
}

ul {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    margin-right: 15px;
}

ul li:nth-last-child(3) {
    padding-right: 10px;
    border-right: 1px solid grey;
}

ul li:last-child {
    margin-right: none;
}

/* Container */

#welcome {
    text-align: center;
}

#welcome h1 {
    color: #ce973e;
    font-size: 2.25rem;
    font-weight: 300;
    letter-spacing: 0.4px;
    padding-bottom: 1.8rem;
}

#welcome p {
    padding-bottom: 4.3rem;
}

.how-it-works {
    text-align: center;
}

.how-it-works h1 {
    margin: 36px 0;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0.3px;
    color: #4a4a4a;
}

.how-it-works h2 {
    margin: 50px 0 20px;
    font-weight: bold;
    font-size: 1.125rem;
    letter-spacing: 0.2px;
}

.how-it-works p {
    padding-top: 1em;
}

.flex {
    display: flex;
}

.tech {
    background: transparent;
    flex: 1;
    justify-content: center;
}

.tech-item {
    text-align: center;
    background: white;
    padding: 25px 45px;
    box-shadow: 0 7px 16px 0 rgba(0,0,0,0.05);
}

.tech img {
    height: 160px;
    width: 160px;
    vertical-align: middle;
    border-style: none;
}

.tech h4 {
    margin-top: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.125rem;
    letter-spacing: 0.2px;
    color: #4a4a4a;
}

.success {
    background-image: linear-gradient(to bottom, #fff, #eee);
}

.success h1 {
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0.3px;
    color: #4a4a4a;
    margin: 30px 0;
}

.success a {
    color: rgba(74,74,74,0.7);
    text-decoration: underline;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
}

.success h3 a {
    color: #ce973e;
    text-decoration: none;
    font-size: 1.125rem;
    letter-spacing: 0.2px;
}

.text-center {
    text-align: center;
}


/* Buttons & Colors */

button {
    border-radius: 0.2rem;
    box-shadow: 0 0.05em 0.25em 0 rgba(0,0,0,0.5);
    color: white;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.2px;
    padding: 1rem 3.5rem;
    border: none;
}

.green {
    background-color: #6abfc3;
}

.brown {
    background-color: #cc9543;
}

.grey {
    background: #f3f3f3;
}